@import "tailwindcss";

:root {
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #5ce1e6 30%, #0066cc);
  --vp-home-hero-image-background-image: linear-gradient(135deg, #d8f0ff 50%, #0066cc);

  --docsearch-search-button-background: #f6f6f7;
}

.VPHero .tagline {
  margin-top: 0.5rem !important;
}

.wide-page .VPDoc .content {
  max-width: 1024px !important;
}
