:root {
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #5acce1 30%, #515fcb);
  --vp-home-hero-image-background-image: linear-gradient(135deg, #d8f0ff 50%, #6337b1);

  --docsearch-search-button-background: #f6f6f7;
}

.wide-page .VPDoc .content {
  max-width: 1200px !important;
}
